<ul class="remote-menu">
  <li><a routerLink="/">Home</a></li>
  <li><a routerLink="/home">New Home</a></li>
  <li><a routerLink="auth/login">Auth</a></li>
</ul>

<div style="padding: 10px;">
  <label for="theme-select">Choose a theme:</label>


  <mat-form-field appearance="outline">
    <mat-label>State</mat-label>
    <mat-select (selectionChange)="selectTheme($event.value)">
      <mat-option>None</mat-option>
      @for (theme of availableThemes; track theme.name) {
        <mat-option [value]="theme">{{theme.name}}</mat-option>
      }
    </mat-select>
  </mat-form-field>


  <button (click)="toggleDarkMode()" style="margin-left: 10px;">
    Toggle {{ isDarkMode ? 'Light' : 'Dark' }} Mode
  </button>
</div>

<h1 class="text-red-500 dark:text-blue-400 m-4">heading</h1>

<router-outlet></router-outlet>
