@use './libs/shared/ui/src/lib/styles/themes/theme.scss' as theme;
@use '@angular/material' as mat;
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  border: 0 none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: 'Roboto', sans-serif;
  height: 100%;
}

html {
  color-scheme: light dark;
  @include mat.theme((
    color: mat.$violet-palette,
    typography: Roboto,
    density: 0
  ));
}
