@use '@angular/material' as mat;
@use '../../../_theme-colors.scss' as themeColors;
@import url('../../../global.scss');

// Default Light Theme (current main-palette)
html.light.theme-default {
  color-scheme: light;
  @include mat.theme((
    color: mat.$orange-palette,
    typography: Roboto,
    density: -2
  ));
}

// Default Dark Theme
html.dark.theme-default {
  color-scheme: dark;
  @include mat.theme((
    color:mat.$orange-palette,
    typography: Roboto,
    density: -2
  ));
}

// Blue Light Theme
html.light.theme-blue {
  color-scheme: light;
  @include mat.theme((
    color: themeColors.$blue-theme-palette,
    typography: Roboto,
    density: -2
  ));
}

// Blue Dark Theme
html.dark.theme-blue {
  color-scheme: dark;
  @include mat.theme((
    color: themeColors.$blue-theme-palette,
    typography: Roboto,
    density: -2
  ));
}

// Green Light Theme
html.light.theme-green {
  color-scheme: light;
  @include mat.theme((
    color: themeColors.$green-theme-palette,
    typography: Roboto,
    density: -2
  ));
}

// Green Dark Theme
html.dark.theme-green {
  color-scheme: dark;
  @include mat.theme((
    color:mat.$green-palette,
    typography: Roboto,
    density: -2
  ));
}

:host {
  background: var(--mat-sys-primary-container);
  color: var(--mat-sys-on-primary-container);
  border: 1px solid var(--mat-sys-outline-variant);
  font: var(--mat-sys-body-large);
}
