@use '@angular/material' as mat;
@use '../../../_theme-colors.scss' as themeColors;
@import url('../../../global.scss');

html {
  color-scheme: light dark;
  @include mat.theme((
    color: themeColors.$main-palette,
    typography: Roboto,
    density: -2
  ));
}
